* {
    margin: 0;
}

:root {
    --main-bg: lightsalmon;
    --alt-bg: teal;
    --banner: rgba(77, 17, 9, 0.774);
    --coral: coral;
    --yellow: yellow;
    --white: white;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    background-color: var(--main-bg);
}


/* header and footer styles */
.bar {
    background-color: var(--alt-bg);
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-top: 1rem;
    display: block;
    margin: 0 auto;
}

ul a {
    color: var(--main-bg);
}

li {
    display: inline-block;
    padding: 0.5rem 1.5rem;
}

header {
    margin: 0;
}

/* title section styles */

.title {
    height: 30rem;
    background-color: var(--main-bg);
    margin: 0 auto;
    overflow: auto; /* needed to prevent margin collapse, and keeping the h1 child margins relative to its parent */
}

.title h1 {
    color: var(--coral);
    background-color: var(--banner);
    margin-top: 10rem;
    padding: 2rem;
    text-align: center;
}

/* summary section styles */

.summary {
    background-color: var(--main-bg);
    overflow: auto;
    margin: 4rem auto;
}

.summary h2, .summary p {
    margin: 1rem auto;
    padding: 0 1rem;
}


.summary h2 {
    color: var(--yellow);
}

.summary p {
    color: var(--white);
}

/* images sections */

.images img {
    width: 30%;
    margin: 1.5%;
}

/* testimonial section */

.testimonials {
    background-color: var(--alt-bg);
    height: 20rem;
    overflow: auto;
    padding: 1rem 1rem 0 1rem;
    margin: 4rem auto;
    color: yellow;
}

.testimonials h1, .testimonials p {
    margin: 2rem auto;
}

.testimonials h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

/* cta styles */

.cta {
    overflow: auto;
    margin: 4rem 0;
    text-align: center;
}

.cta h1 {
    color: var(--yellow);
    font-size: 1.75rem;
    font-weight: 600;
}

.cta img {
    width: 50%;
    height: auto;
    margin: 1rem auto;
}

/* media queries */
@media only screen and (max-width: 1048px) {
    .images img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px){
    li {
        display: block;
        text-align: center;
    }

    .testimonials h1 {
        font-size: 1.5rem;
    }
}
